<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<!-- Timer Polling Interval -->
		<add key="TimerPollingInterval" value="1000" />

		<!-- ExCore Connection Settings -->
		<add key="UTCOffset" value="07:00:00" />
		<add key="ExCoreHost" value="localhost" />
		<add key="ExCorePort" value="443" />
		<add key="ExCoreUsername" value="CamstarAdmin" />
		<add key="ExCorePasswordkey" value="ExCoreKey" />
		<add key="ExCorePassword" value="Cj4I2ruo/JJtxaCCYROzqBwGOPpZdJ5y" />
		
		<!-- Trace Level setting (higher level includes lower levels). -->
		<add key="TraceLevel" value="6" />

		<!-- File Processing Folders -->
		<add key="UNCPath" value="\\10.1.3.40" />
		<add key="UNCPathUsername" value="HKASPRD\IDMESSupport" />
		<add key="UNCPathPassword" value="Cj4I2ruo/JJtxaCCYROzqBwGOPpZdJ5y" />
		<add key="OrderFolder" value="\\10.1.3.40\WIKHKAS-FTP-Data\MES\Test" />
		<add key="OrderBOMFolder" value="\\10.1.3.40\WIKHKAS-FTP-Data\MES\Test" />

		<add key="OrderFile" value="ZASMES006.CSV" />
		<add key="OrderBOMFile" value="ZASMES007.CSV" />

		<!-- Distributed Cached Help -->
		<add key="CachedHost" value="localhost:6379" />
	</appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>