<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<!-- Trace Level setting (higher level includes lower levels). -->
		<add key="TraceLevel" value="6" />

		<add key="OrderFolder" value="C:\Temp\WIK\Service" />
		<add key="OrderBOMFolder" value="C:\Temp\WIK\Service" />

		<add key="OrderFile" value="ZASMES006.CSV" />
		<add key="OrderBOMFile" value="ZASMES007.CSV" />
	</appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>